

.login-page {
  width:auto;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;

  background: #FFFFFF;
  width:auto;
	
  margin-top:-2%;
  margin-left:5%;
  margin-right:5%;
  padding: 45px;
  text-align: justify;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
p
{
	
}



body {
	text-align:right;

  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}